<div class="row">
  <div class="col-md-6">
    <h3>Week 1: June 2 - 4</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:30</td>  <td>Building Programs with Python</td> </tr>
      <tr> <td>11:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Week 2: June 7 - 11</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Plotting and Programming in Python</td> </tr>
      <tr> <td>11:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Week 3-4: June 16 and 23</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>11:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Week 5 - 6: June 30 and July 7</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>TBD</td> </tr>
      <tr> <td>11:00</td> <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a> </td> </tr>
      <tr> <td>11:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
